<!-- Navigation Bar -->
<nav class="firstnav p-3  ">
	 <div class="container">
		 <div class="row">
			 <div class="col">
				 <img class="nav_logo rounded" src="../images/nav_logo.png" alt="PawTaxi_Logo" />
			 </div>
			 <div class="col text-end">
				 <button type="button" class="btn btn-outline-secondary">
					 Nikos
				 </button>
				 <button type="button" class="btn btn-outline-secondary">
					 Logout
				 </button>
			 </div>
 </nav>
