<!-- Navigation Bar -->


<nav class="firstnav py-2  ">
	<div class="container">
		<div class="row">
			<div class="col">
			<a href="/"><img class="nav_logo rounded" src="../images/nav_logo.png" alt="PawTaxi_Logo" /></a>
			</div>
			{{#if userData}}
			<div class="col text-end pt-1">
				<a href="" type="button" class="btn btn-outline-secondary">
					<img
								src="{{user.avatar}}"
								class="rounded-circle img-fluid avatar p-0"
								alt="avatar login"
												/>
				<span>{{user.name}}</span>

			</a>

				<a href="/auth" class="btn btn-outline-secondary">
					Logout
				</a>
			</div>
			{{else}}
			<div class="col text-end">
			<a href="/auth" class="btn btn-outline-secondary">
				Login
			</a>
			{{/if}}
		</div>
	</div>
</div>
		</nav>
		<hr>
