{{>nav userData=user}}
<div class="container">
<div class="card">
  <div class="card-body p-0">
<!-- Map Display -->
		<div class="container-fluid p-0">
				<div id="googleMap" class="my-0">

				</div>
				<div id="output">

				</div>
		</div>
		<h5 class="card-title mt-2 ">Where Next?</h5>

		<form action="/orders/create" method="POST">
			<div class="form-row ">
			    <div class="col ">
						<div class="input-group flex-nowrap">
						  <span for="from" class="input-group-text" ><i class="fa-solid fa-house"></i></span>
						  <input id="from" type="text" class="form-control" placeholder="From:" >
						</div>
			    </div>
			    <div class="col my-2">
						<div class="input-group flex-nowrap">
						  <span for="to" class="input-group-text" ><i class="fa-solid fa-location-dot"></i></span>
						  <input id="to"  type="text" class="form-control" placeholder="To:" >
						</div>
			    </div>
			  </div>

				<div class="input-group mb-3">
					<label class="input-group-text" for="inputGroupSelect01"><i class="fa-solid fa-paw"></i></label>
					<select name="type" class="form-select" id="inputGroupSelect01">
						<option class="text-center"selected>Choose your Paw</option>
						<option value="1">Dog</option>
						<option value="2">Cat</option>
						<option value="3">Rabbit</option>
					</select>
				</div>
				<h6>Choose Paw size:</h6>
				<!-- Radio buttons trigger modal -->
				<div class="text-center">
					<input name="size" class="form-check-input mb-2" type="radio" value="1" name="flexRadioDefault" id="flexRadioDefault1" data-bs-toggle="modal" data-bs-target="#exampleModal">
	  			<label class="form-check-label" for="flexRadioDefault1">Small</label>

					<label>
						<input  name="size" class="form-check-input" type="radio" value="2" name="flexRadioDefault" id="flexRadioDefault1" data-bs-toggle="modal" data-bs-target="#exampleModal">
	  					<label class="form-check-label" for="flexRadioDefault1">Large</label>
					</label>
				</div>


			<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-sm modal-dialog-centered">
				    <div class="modal-content">
				      <div class="modal-header p-2">
				        <h5 class="modal-title " id="exampleModalLabel"><i class="fa-solid fa-paw"></i> What is Paw size?</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body p-2">
								<ol class="list-group list-group">
								  <li class="list-group-item">Small: Less than 10kg.</li>
								  <li class="list-group-item">Large: More than 10kg</li>
								</ol>
				      </div>
				    </div>
				  </div>
				</div>


				<h6 class="card-text">Cost of Ride:</h6>

				<div class="text-center">
					<button  type="submit" class="btn btn-warning">Search for PawTaxis</button>
				</div>
			</div>
		</form>
		<div class="col-xs-offset-2 col-xs-10">
				<button class="btn btn-info btn-lg " onclick="calcRoute();"><i class="fas fa-map-signs"></i></button>
		</div>
	</div>
</div>
