{{>nav userData=user}}

<!-- REQUESTS -->
<div class="bg">
    <div class="container pt-3">
        <span>Welcome back Name, you have X requests</span>
        <div class="card text-center mt-2 mx-auto" style="width: 18rem;">
            <div class="card-body">
                <div>
                    <small>Name - Avatar - Animal</small>
                </div>
                <div>
                    <small>From: - To: - </small>
                </div>
                <div>
                    <span> X EURO</span>
                    <span> X km</span>
                    <span> X min</span>
                </div>
                <a href="#" class="btn btn-warning">Accept</a>
            </div>
        </div>
    </div>
</div>