{{>nav userData=user}}

<!-- REQUESTS -->
<div class="bg-orders">
    <div class="container py-3">
        <h1>Welcome back {{user.name}}</h1>
        <h3>Here are all Open Orders</h3>
        {{#each openOrders as |order|}}
            {{>order order=order}}
        {{/each}}
        <h3>Accepted Orders</h3>
        {{#each acceptedOrders as |order|}}
            {{>order order=order}}
        {{/each}}
    </div>
</div>

{{>foot}}

{{!-- <script type="text/javascript">
setTimeout(() => { location.reload() }, 5000);

</script> --}}