.bg {
  height: 100vh;
  background-image: url('/images/logo.png');
  background-size: cover;
}
.nav_logo {
  width: 70px;
  height: 50px;
}

.btn-warning {
  background-color: #f8da5b;
  color: #247291;
  font-weight: bold;
  font-style: oblique;
}
.avatar {
  width: 20px;
}

.driver_avatar {
  width: 50px;
}
.fa-location-dot {
  width: 18px;
}
.fa-paw {
  width: 18px;
}

#map {
  height: 100vh;
}

.custom-map-control-button {
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
}
