.bg {
  height: 100vh;
  background-color: black;
  background-size: cover;
}
.nav_logo {
  width: 100px;
  height: 60px;
}

.btn-warning {
  background-color: #f8da5b;
  color: #247291;
  font-weight: bold;
  font-style: oblique;
}
.avatar {
  width: 20px;
}

.driver_avatar {
  width: 50px;
}
.fa-location-dot {
  width: 18px;
}
.fa-paw {
  width: 18px;
}
.logo_signup {
  width: 100px;
  height: 60px;
  display: block;
}

.bg2 {
  height: 100vh;
}

.pic {
  height: 60vh;
}
.bd {
  color: #5bc0de;
  font-family: 'Poppins', sans-serif;
}

/*map*/
#googleMap {
  width: 100%;
  height: 400px;
  margin: 10px auto;
}

#mode {
  color: black;
}

#googleMapRoute {
  width: 100%;
  height: 400px;
  margin: 10px auto;
}

.bg-orders {
  background-size: 100% auto;
  /* background-color; */
}

.foot-logo {
  width: 100px;
  height: 60px;
}

.av {
  width: 40px;
}

.smbadge {
  font-size: 16px;
}

#output {
  font-size: 18px;
  font-weight: bold;
}